.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  box-sizing: border-box;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
}

.header__title {
  margin: 183px 0px 0px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  justify-content: space-between;
  margin-top: auto;
  display: flex;
  align-items: end;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  color: #ffffff;
  margin: 0;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  margin: 0 0 24px 40px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__form {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__label {
  margin-bottom: 8px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #838383;
  margin: 8px 0 32px;
  border-radius: 4px;
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  padding: 20px 0;
  width: 100%;
  border: none;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

button:hover {
  background-color: #3f96f3;
  -webkit-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu__title {
  margin: 0 0 24px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin-left: 25%;
}

.menu__subtitle {
  margin: 0 0 100px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin-left: 25%;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card {
  width: 540px;
  margin: 0 0 100px 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.card__title {
  margin: 0 0 32px;
}

.card__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
}

.card__list-divider {
  border-bottom: black solid 1px;
  flex-grow: 1;
}

.about {
  padding: 119px 80px 173px 0;
  background-color: #0a2850;
}

.about__title {
  max-width: 251px;
  margin-top: 100px;
  margin-left: 80px;
  position: relative;
  top: -78px;
}

.about__content {
  max-width: 660px;
  display: block;
  float: right;
  list-style-type: none;
  margin-top: -130px;
}

.about__paragraph {
  margin-bottom: 20px;
}

.about__circle {
  height: 426px;
  width: 426px;
  position: absolute;
  z-index: auto;
  background-color: #2f80ed;
  border-radius: 50%;
  margin-top: -261px;
  margin-left: -153px;
}
